{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<div id="header">Welcome to Personal Budget Planner!</div>

<div class="container">
    <div class="row">
      <div class="col-4"><img id="text" src="/static/coins.jpg" width="500" height="450" style="max-width:100%;height:auto;"></div>
      <div class="col-8">
        <div id="text">Click <a href ="/getstarted">Get started </a>at once to provide your budget data and see your budget summary.
        If you have already used Personal Budget Planner, you can view your older budgets in <a href="/budget_history">Budget History</a>.


    </div>
    </div>
    </div>
  </div>



{% endblock %}