{% extends "layout.html" %}

{% block title %}
    Tips
{% endblock %}

{% block main %}
<div id="header" class="col">
      Smart Budget - Practical Tips
</div>

<div id="text" class="container">
  <div class="row">
    <div class="col-8"><h3>Set Your Budget Policy</h3>
      <p>Why do you want to budget? You have to answer this question. Do you need to save for your summer holidays or do you feel that you overspend?</p>
      <h3>Register Your Expenses</h3>
      <p>Collect receipts, view bank account statements. You will see where your money goes.</p>
      <h3>Pay Your Debts</h3>
      <p>Before you save money, pay off your debts. The debt interests will be much higher than your interests you earn on savings. So eliminate your debts as soon as possible.</p>
      <h3>Watch Out for Loans</h3>
      <p>Do you really need them? If you cannot afford something, it means you should not buy it. Try to save, then spend. Another thing is a flat or a car. It is a long term investment and you have to live somewhere or you need a car to commute.</p>
      <h3>Shop Smartly</h3>
      <p>Buy the stuff you need. Stick to the shopping list and ignore bargains. You can set your daily/weekly spending limit as well.</p>
      <h3>Increase Your Income</h3>
      <p>If you reduce your expenses, but the balance is still not satisfactory, think how to increase you income. Take overhours or find an additional income resource depending on your skills and expertise.</p>
      <h3>Build Your Financial Cushion</h3>
      <p>The size of your ready-to-take fund depends on your possibilities, but it is said that it is three to six-month earnings. It is a fund available to cover unexpected costs, e.g. a major fault of your car or living expenses in case you lose a job.</p>
      <h3>Invest Money</h3>
      <p>It is your choice how to do it. There quite a few options like saving accounts, treasure bonds, shares etc. However, remember to choose safe and well-known way to save your money. You do not want to lose them. Even small amounts count. There are saving apps or even your bank may offer in-built smart savers. </p></div>
    <div class="col-4"><img  src="/static/wallet.jpg" width="500" height="450" style="max-width:100%;height:auto;"></div>
  </div>
</div>



{% endblock %}